@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "header aside" "footer aside";
}

aside {
  grid-area: aside;
  width: 100%;
  height: 85%;
  background: rgba(184, 184, 184, 0.575);
  margin: 50px;
  border-radius: 50px;
  box-sizing: border-box;
}

/* NAV */
nav .navbar-brand img {
  width: 11rem;
}
nav .link-box a {
  text-decoration: none;
  color: #8E8E91;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}
nav .link-box a:hover {
  color: #1F1F24;
}
nav .link-box a.active {
  color: #1F1F24;
}

/* MAIN */
main .list-btn {
  color: #00315C;
}
main .input-group input {
  border: 1px solid #0AA9B4;
}
main .input-group input::placeholder {
  color: #1F1F24;
}
main .input-group button {
  border: 1px solid #0AA9B4;
  width: 25%;
  background-color: #F7FCFC;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  color: #1F1F24;
  vertical-align: middle;
  font-size: 1.2rem;
}
main .input-group button:hover {
  background: #F7FCFC;
  color: #1F1F24;
}

.line-gray {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(177, 176, 176, 0.534);
}

/* HEADER */
header {
  grid-area: header;
}
header .header-title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #00315C;
}
header .header-title h2 span {
  font-weight: 700;
}
header .header-title label {
  color: #8E8E91;
  cursor: pointer;
}
header .header-title label input {
  display: none;
}
header .header-title label .yellow-star {
  display: none;
}
header .header-title label input:checked ~ .star {
  display: none;
}
header .header-title label input:checked ~ .yellow-star {
  display: block;
  color: #FFD700;
}
header .text-justify {
  text-align: justify;
  color: #4C4C50;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.map-box {
  border: 1px solid rgba(177, 176, 176, 0.534);
  padding: 1.9rem;
}
.map-box > p:nth-of-type(1), .map-box > p:nth-of-type(2), .map-box > p:nth-of-type(3) {
  margin: 0;
  margin-top: 30px;
  color: #1F1F24;
  font-weight: 600;
  font-size: 1rem;
}
.map-box > p:nth-of-type(2) {
  font-weight: 400;
  margin-top: 15px;
}
.map-box > p:nth-of-type(3) {
  margin-top: 15px;
  font-weight: 300;
  font-size: 1rem;
}

.prudact img {
  width: 10.7rem;
  height: 7.5rem;
}
.prudact .prudact-txt h3 {
  font-size: 1.5rem;
  color: #4C4C50;
}
.prudact .prudact-txt p {
  font-size: 1rem;
  color: #4C4C50;
}

.map-prudact > .dropdown a.btn {
  color: #00315C;
}

.contact ul.list-parent li svg {
  margin-right: 0.5rem;
}
.contact ul.list-parent li ul {
  margin-left: 1.8rem;
  margin-top: 0.2rem;
}
.contact ul.list-parent li.w-a {
  margin-right: 4rem;
  width: 250px;
}
.contact ul.list-parent li:nth-of-type(1) {
  color: #1F1F24;
  font-weight: bold;
}
.contact ul.list-parent li:nth-of-type(1) li {
  font-weight: 400;
}
.contact ul.list-parent li:nth-of-type(2) {
  color: #1F1F24;
  font-weight: bold;
}
.contact ul.list-parent li:nth-of-type(2) span {
  color: #8E8E91;
}
.contact ul.list-parent li:nth-of-type(2) li {
  font-weight: 400;
}
.contact ul.list-parent li:nth-of-type(2) {
  font-weight: 400;
}

footer {
  grid-area: footer;
  padding: 63px 0;
}
footer ul li {
  font-size: 1.4rem;
  position: relative;
  color: #0AA9B4;
  transition: color 0.3s linear;
  cursor: pointer;
}
footer ul li .active-span {
  width: 0;
  background-color: #00315C;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -15px;
  transition: width 0.3s ease-in-out;
}
footer ul li:hover {
  color: #00315C;
}
footer ul li:hover > .active-span {
  width: 120px;
}
footer .line-gray {
  margin: 0;
}
footer .md-border {
  display: none;
}
footer .md-border span {
  display: block;
  width: 15px;
  height: 15px;
  border-right: 4px solid #0AA9B4;
  border-bottom: 4px solid #0AA9B4;
  transform: rotate(-45deg) translateY(50%);
}

@media screen and (max-width: 768px) {
  main .input-group button {
    width: 40%;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .box-grid {
    grid-template-columns: 100%;
  }
  aside {
    display: none;
  }
  .contact ul.list-parent li.w-a {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .md-border {
    display: none !important;
  }
  footer ul li {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #E9E9EA;
    padding-bottom: 1rem;
  }
  footer ul li .active-span {
    bottom: -2px;
  }
  footer ul li:nth-of-type(2) {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(3) {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(3):hover {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(3):hover > .active-span {
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  footer ul li:nth-of-type(1) {
    display: block;
  }
  footer ul li:nth-of-type(2) {
    display: none;
  }
  footer ul li:nth-of-type(3) {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(3):hover {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(3):hover > .active-span {
    width: 0;
  }
}
@media screen and (max-width: 1366px) {
  footer ul li:nth-of-type(2), footer ul li:nth-of-type(3) {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(2):hover, footer ul li:nth-of-type(3):hover {
    color: #E9E9EA;
  }
  footer ul li:nth-of-type(2):hover > .active-span, footer ul li:nth-of-type(3):hover > .active-span {
    width: 0;
  }
}

/*# sourceMappingURL=style.css.map */
